* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background-color: rgb(12, 12, 12);
}

::-webkit-scrollbar {
    width: 2px;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: rgb(59, 59, 59);
    transition: 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(73, 73, 73); 
}